<div class="container">
  <div class="row p-2 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
      <div class="card col-md-4">
        <div class="card-body">
          <h5>Create a Learning Resource</h5>
          <%= render 'form', learning_resource: @learning_resource %>
        </div>
      </div>
  </div>
</div>