<div class="container">
  <div class="row p-2 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
      <div class="card col-md-4">
        <div class="card-body">
          <h5>Edit</h5>
          <p>Edit your account</p>
          <%= render 'form', user: @user %>
          <div class="mt-3 mb-3">
        </div>
      </div>
  </div>
</div>